<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @mililitro.descripcion %>
</p>

<%= link_to 'Edit', edit_mililitro_path(@mililitro) %> |
<%= link_to 'Back', mililitros_path %>
