<div class="panel">
	<div class="panel-heading">
	<center><%= image_tag('../acerca_de.png') %></center>
	</div>
	<br/>
	<div class="well">
<p>
	Fragancias, cosmética, maquillaje y accesorios, en Perfumerías Unidas lo tenemos todo. Desde hace más de 20 años, representamos las marcas más selectas a nivel mundial y lideramos los últimos lanzamientos de productos de lujo.
</p>

<p>
	Somos la única cadena de Belleza y Cuidado personal en el Perú con nuestros 80 puntos de venta ubicados en las principales plazas comerciales del país, dentro de los cuales sumamos 16 Tiendas Propias, 5 Boutiques especializadas entre Chanel, Tous , Swarovski , y presencia en las principales tiendas por departamento.
</p>

<p>
	Siempre guiados por la pasión y la perseverancia, nuestra misión es proporcionar la excelencia en nuestro servicio, sobrepasando las expectativas tanto de nuestros clientes como de nuestros proveedores, con el fin de mantener esa posición de liderazgo en el mercado peruano.
</p>
</div>

</div>